{% extends 'base.html' %}
{% block title %}Вы вышли из системы{% endblock %}
{% block content %}
<div class="row justify-content-center" >
  <div class="col-md-8 p-5">
    <div class="card" style="background-color:rgba(247, 92, 98, 0.8)" >
      <div class="card-header" style="background-color:rgb(247, 72, 78")>
        Выход
      </div>
      <div class="card-body">
        <p>
          Вы вышли из своей учётной записи. Ждём вас снова!
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %}