<!-- За основу берем шаблон base.html -->
{% extends 'base.html' %}
<!-- Изменяем значение title, Django - сила! -->
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %}

{% block content %}
  <h1>{{ group.title }}</h1>

  <p> {{ group.description }} </p>
  <!-- Цикл выводит все посты, которые передала view функция -->
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaks }}</p>
      <a class="btn btn-danger"
      href="{% url 'posts:post_detail' post.id %}">
      Подробная информация
    </a>
    </article>
    <!-- Если не последняя запись из Posts, то добавляем <hr> --> 
    {% if not forloop.last %}<hr>{% endif %}
    {% if forloop.last %}<br><br>{% endif %} 
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
