{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% for post_count in page_obj %}
    <ul>
      <li>
        Автор: {{ post_count.author.get_full_name }}
      </li>
      <li>
        Дата публикации: {{ post_count.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post_count.text|linebreaks }}</p>
    <a class="btn btn-danger"
      href="{% url 'posts:post_detail' post_count.id %}">
      подробная информация
    </a>
    {%if post_count.group_id%}
      <a class="btn btn-danger"
        href="{% url 'posts:group_posts' post_count.group.slug %}">
        {# Вот тут показан пример работы метода __str__ модели групп #}
        Все записи группы {{ post_count.group }}
      </a>
    {%endif%}
    <!-- Если не последняя запись из Posts, то добавляем <hr> --> 
    {% if not forloop.last %}<hr>{% endif %} 
    {%comment%}
      Если есть группа, то добавляем <br>x2, что бы кнопка не упиралась в футер
      В примере оформления ссылка упирается в футер, решил сделать
      немного покрасивее, что бы не упиралась сразу в футер
    {% endcomment %}
    {% if post_count.group_id %}<br><br>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
